body {
  background-color: white !important;
}

* {
  font-family: "Poppins", sans-serif;
}

h1, .h1 {
  font-size: 64px;
  font-weight: bold;
}

h2, .h2 {
  font-size: 48px;
  font-weight: bold;
}

h3, .h3 {
  font-size: 36px;
  font-weight: bold;
}

h4, .h4 {
  font-size: 24px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 18px;
  font-weight: bold;

}

p, .p {
  font-size: 16px;
  color: #3D3D3D;
}


.input-group svg {
  cursor: pointer;
}
.shadow-1 {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
}

.rounded-40 {
  border-radius: 40px;
}

.centered-line {
  display: flex;
  align-items: center;
  color: #979797;
}

.centered-line::before,
.centered-line::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #F7F7F7;
  margin: 0 10px;
}

.scroll-container {
  overflow-x: scroll;
  transition: transform 0.5s ease; /* Ganti 0.5s dengan durasi transisi yang diinginkan */
}

.scroll-container.transitioning {
  transition: transform 0.5s ease; /* Ganti 0.5s dengan durasi transisi yang diinginkan */
}

.hover-primary:hover { 
  color: #2E7DF1 !important; 
}